.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111111;
}
			
li a.active {
	background-color: #a2c1e2;
	pointer-events: none;
	cursor: default;
}

body {
	font-family: sans-serif;
}
			
/* Source: https://www.w3schools.com/css */
